<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.ChatInfoMapper">

    <!-- 分页获取技术沟通信息 -->
    <select id="selectChatPage" resultType="java.util.LinkedHashMap">
        select
        ci.id,
        ci.expert_code,
        ci.enterprise_code,
        ci.`type`,
        ci.content,
        ci.create_date,
        ei.name as expertName,
        ei.images as expertImages,
        ei2.name as enterpriseName,
        ei2.images as enterpriseImages
        from
        chat_info ci
        left join expert_info ei on
        (ei.code = ci.expert_code)
        left join enterprise_info ei2 on
        (ei2.code = ci.enterprise_code)
        where
        1 = 1
        <if test="chatInfo.expertName != null and chatInfo.expertName != ''">
            AND ei.name LIKE CONCAT('%',#{chatInfo.expertName},'%')
        </if>
        <if test="chatInfo.enterpriseName != null and chatInfo.enterpriseName != ''">
            AND ei2.name LIKE CONCAT('%',#{chatInfo.enterpriseName},'%')
        </if>
        order by
        ci.create_date desc
    </select>

    <!-- 根据用户编号获取联系人 -->
    <select id="selectContactPerson" resultType="java.util.LinkedHashMap">
        select
        ci.id,
        ci.expert_code,
        ci.enterprise_code,
        ci.`type`,
        ci.content,
        ci.create_date,
        <if test="flag != null and flag == 1">
            ei2.name,
            ei2.images
        </if>
        <if test="flag != null and flag == 2">
            ei.name,
            ei.images,
            ei.`position`
        </if>
        from
        chat_info ci
        <if test="flag != null and flag == 2">
            left join expert_info ei on
            (ei.code = ci.expert_code)
        </if>
        <if test="flag != null and flag == 1">
            left join enterprise_info ei2 on
            (ei2.code = ci.enterprise_code)
        </if>
        where
        1 = 1
        <if test="flag != null and flag == 2">
            and ci.enterprise_code = #{userCode}
        </if>
        <if test="flag != null and flag == 1">
            and ci.expert_code = #{userCode}
        </if>
        <if test="flag != null and flag == 2">
            group by ci.expert_code
        </if>
        <if test="flag != null and flag == 1">
            group by ci.enterprise_code
        </if>
        order by
        create_date desc
    </select>

    <!-- 查询聊天记录 -->
    <select id="selectChatList" resultType="java.util.LinkedHashMap">
        select
        mi.id,
        mi.expert_code,
        mi.enterprise_code,
        mi.`type`,
        mi.content,
        mi.create_date,
        ei.name as expertName,
        ei.images as expertImages,
        ei2.name as enterpriseName,
        ei2.images as enterpriseImages
        from
        (
        select
        *
        from
        chat_info
        where
        expert_code =
        #{ expertCode } AND enterprise_code = #{ enterpriseCode } ) mi
        left join expert_info ei on
        (ei.code = mi.expert_code)
        left join enterprise_info ei2 on
        (ei2.code = mi.enterprise_code)
        ORDER BY mi.create_date asc
    </select>
</mapper>
