<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.NotifyInfoMapper">

    <!-- 分页获取消息通知信息 -->
    <select id="selectNotifyPage" resultType="java.util.LinkedHashMap">
        select
        ni.id,
        ni.user_code,
        ni.content,
        ni.del_flag,
        ni.create_date,
        ni.name
        from
        notify_info ni
        where
        1 = 1
        <if test="notifyInfo.name != null and notifyInfo.name != ''">
            AND ni.name LIKE CONCAT('%',#{notifyInfo.name},'%')
        </if>
        order by
        ni.create_date desc
    </select>
</mapper>
